[Unit]
Description=SolvisSmartHomeServer
Wants=network.target
After=network.target

[Service]
User=solvis
RemainAfterExit=yes
ExecStart=/usr/bin/java -jar /opt/solvis/SolvisSmartHomeServer/SolvisSmartHomeServer.jar
ExecStop=/usr/bin/java -jar /opt/solvis/SolvisSmartHomeServer/SolvisSmartHomeServer.jar --server-terminate

[Install]
WantedBy=multi-user.target